html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::active {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../assets/table-top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}